@page "/"

@if (Available)
{
    <div class="row">
        <div class="col">
            <button class="btn btn-primary m-2" @onclick="BuscarDispositivos">Buscar</button>

            @if (Device is not null)
            {
                if (Connected)
                {
                    <button class="btn btn-primary m-2" @onclick="()=>ConectarDispositivo(true)">Conectar</button>
                }
                else
                {
                    <button class="btn btn-primary m-2" @onclick="()=>ConectarDispositivo(false)">Desconectar</button>
                }
            }

        </div>
    </div>
    <div class="row @(Device is null ? "d-none" : "")">
        <div class="col">
            <label>Name: @Device?.Name</label>
            <label>Id: @Device?.Id</label>
            <label>Connected: @Device?.Gatt.Connected</label>
        </div>
    </div>
}
else
{
    <div class="row">
        <div class="col">
            <p class="text-danger fw-bold">
                El servicio bluetooth no está disponible para este dispositivo.
            </p>
        </div>
    </div>
}
<div class="row @(string.IsNullOrEmpty(Error) ? "d-none" : "")">
    <div class="col text-danger">
        @Error
        <button type="button" class="btn-close" @onclick="()=> Error = string.Empty"></button>
    </div>
</div>
