@page "/in-the-hand"

<div class="row">
    <div class="col-12">
        <button class="btn btn-primary m-2" @onclick="BuscarDispositivos">Buscar</button>
    </div>
    <div class="col">

        @if (DeviceInfo is not null)
        {
            if (!DeviceInfo.Gatt.Connected)
            {
                <button class="btn btn-success m-2" @onclick="()=>ConectarDispositivo(true)">Conectar</button>
            }
            else
            {
                <button class="btn btn-danger m-2" @onclick="()=>ConectarDispositivo(false)">Desconectar</button>
            }
        }

    </div>
</div>
